data
main
.DS_Store
.vscode
*Zone.Identifier
.env

# Ignore Go build output
expenseowl
expenseowl.exe

# Ignore frontend build output (Vite, React, etc.)
internal/web/dist/

node_modules
frontend/node_modules
